include ../component/header

doctype html
html
	+header('关于我们-云信创富官网',['css/common.css','css/detail.css'],{a:[''],b:['','',''],c:['','','',''],d:['','','',''],e:['hover']})  
		
	.inside.about
			.info
				h5.title 公司简介
				img.intro(src="img/about/img.png", alt="")
				p.intro 北京云信创富资本管理有限公司（简称“云信创富”）是一家响应国家号召成立的，专业从事普惠金融业务的资产管理公司。公司拥有自主技术研发实力，利用领先的金融科技手段，及完善的业务作业系统，通过构建专业合规的低风险交易结构，为金融机构投资者和投资各方提供优质资产。为融资方提供专业咨询服务，缩短融资时间，降低融资成本。
				p.intro 云信创富注重金融科技技术的自主研发与整合，并设立有金融科技研发中心，30%的研发中心成员具有硕士以上学历。先后将研发成果实践运用于业务场景，实现大数据风控整合、全国远程面签、跨平台风险信息共享、移动申报平台等领先科技功能。为资产管理创新及效率的提升起到至关重要的作用。云信创富致力于利用先进的金融科技建立高水准的普惠金融服务标准，并积极推动行业升级变革。
				p.intro 自2015年成立以来，云信创富在社会各界的大力支持下，凭借自身优势已与多家金融机构、大中型国有企业及互联网金融平台开展深度战略合作，资产规模取得了长足进步。目前业务范围覆盖城市已从北京、上海、广州、深圳一线城市拓展至全国22个主要城市。云信创富累计资产管理规模已超过100亿人民币，2018年预计资产管理规模可达300亿。

				.question
					h5.title 什么是新型互联网资产管理企业？
					p
						|互联网、移动互联网的普及，以及大数据、云计算、区块链等新技术的广泛应用，为资产管理行业带来了巨大的影响，使得资产管理行业不再只是服务于传统金融机构。<br/>
						|云信创富秉承“创新发展，普惠金融”的精神，通过互联网技术应用，以创新的金融产品，通过高效率、低成本的运营模式，专注于为消费领域的细分市场提供金融解决方案，从而扩大普惠金融覆盖率，加强金融产品在传统消费领域的渗透率，推动资产管理行业变革。<br/>
						|云信创富在大数据风控、AI人工智能、生物识别等方面的应用，不仅提升了资产管理风险控制环节的审核效率，也使得资产管理服务可以更好地服务金融机构及类金融个人用户，实现真正的普惠金融。另外，在智能投顾方面的投入，使得借贷双方的需求得以快速匹配，并且能够提供专业的定制化服务。

					h5.title 新型互联网资产管理的优势？
					p 
						|一、降低了信息的不对称性；<br/>
						|二、提高了信用违约成本；<br/>
						|三、降低了行业壁垒，加速金融与非金融的深度融合；<br/>
						|四、改变了生产的资源配置流程，提供更优质服务。
				ul.trait
					li.item
						img(src="img/about/icon1.png")
						h5.title 银行级的风控措施
						p 云信创富的风控官来自于传统的银行体系，不仅具有良好的前期风控能力，也具有优秀的不良资产处置能力
					li.item
						img(src="img/about/icon2.png")
						h5.title 高效的作业平台
						p 云信创富神盾信贷作业平台系统，抵押物价值评估、征信审查在线完成，24小时内完成借款需求审核。
					li.item
						img(src="img/about/icon3.png")
						h5.title 强大的运营能力
						p 云信创富为金融机构、类金融个人用户提供专业的结构化、智能化服务，推动行业变革。

				h5.title.area 区域中心
				.contact
					.left
						h5.title 北京总部
						p
							|北京市海淀区车道沟1号青东商务区C座2层<br/>
							|010-82483771<br/>
							|service@wefortuneasset.com<br/>
						h5.title 上海运营中心
						p
							|上海市浦东新区杨高南路799号陆家嘴世纪金融广场3号楼701<br/>
							|021-68821587
					.right
						h5 部分地区中心
						p
							|广州：广东省广州市天河区珠江新城高德置地夏广场D座603室<br/>
							|深圳：广东省深圳市福田区景田商报路奥林匹克大厦20G<br/>
							|南京：江苏省南京市秦淮区建邺路98号鸿信大厦8层806<br/>
							|苏州：江苏省苏州市工业园区华池街时代广场24幢SIFC 7楼A07<br/>
							|厦门：福建省厦门市湖里区国际邮轮城一期27号楼2602<br/>
							|合肥：安徽省合肥市庐阳区财富广场A座712

	include ../component/footer

