doctype html
html
	head
		meta(charset="utf-8")
		title 小微普惠-实践小微普惠
		link(href="css/common.css",rel="stylesheet")
		link(href="css/detail.css",rel="stylesheet")
	
	body
		include ../component/header
		
		div.inside.main
			div.menu
				a.curr(href="fintech.html") 金融科技
				a(href="output.html") 整合输出
				a(href="application.html") 场景应用
			div.content
				h4.location &gt;&gt;金融科技
				p 云信创富注重金融科技技术的自主研发与整合，利用互联网、大数据、云计算等技术，结合平台底层的信息、场景、科技及数据服务，为金融机构、中介机构、类金融个人用户提供专业的结构化、智能化服务，实现低成本、高效率、多样化的服务场景。
				


		include ../component/footer

		script(src="js/jquery-1.7.2.min.js")
