doctype html
html
	head
		meta(charset="utf-8")
		title 云信创富-首页
		link(href="css/common.css",rel="stylesheet")
		link(href="css/index.css",rel="stylesheet")
	
	body
		include ../component/header

		.banner
			ul.piclist
				li.item.pic01.curr
				li.item.pic02
				li.item.pic03
			.control
				a.hover(href="javascript:;")
				a(href="javascript:;")
				a(href="javascript:;")

		ul.advantage.inside
			li.item.icon1
				h4.title 管理资产逾100亿
				p 成立两年半，业务覆盖22大城市
			li.item.icon2
				h4.title 创新金融科技
				p 科技与金融结合，提升效率
			li.item.icon3
				h4.title 履约保证保险
				p 资金资产双保险

		div.content.inside
			div.news
				h3.title 行业动态
					a.more(href="#") 更多 &gt;&gt;
				p.first
					a(href="#")
						img(src="img/index/img01.png")
						|目前，校园贷“正规军”渐成规模，区别于此前部分“校园贷”违规开展变相高利贷，银行系校园贷产品都打出了“低息”牌。不过，低利率…
					span.date 2017-6-15
						a.more(href="#") 查看全文 &gt;&gt;
				p.list 
					a(href="#") 银行用低利率杀入校园贷 不良率上3%就得亏钱
						span.date 2017-6-15
				p.list 
					a(href="#") 银行用低利率杀入校园贷 不良率上3%就得亏钱
						span.date 2017-6-15
	
			div.news.right
				h3.title 企业动态
					a.more(href="#") 更多 &gt;&gt;
				p.first
					a(href="#")
						img(src="img/index/img02.png")
						|目前，校园贷“正规军”渐成规模，区别于此前部分“校园贷”违规开展变相高利贷，银行系校园贷产品都打出了“低息”牌。不过，低利率…
					span.date 2017-6-15
						a.more(href="#") 查看全文 &gt;&gt;
				p.list 
					a(href="#") 银行用低利率杀入校园贷 不良率上3%就得亏钱
						span.date 2017-6-15
				p.list 
					a(href="#") 银行用低利率杀入校园贷 不良率上3%就得亏钱
						span.date 2017-6-15
				
		include ../component/footer

		script(src="js/jquery-1.7.2.min.js")
		script(src="js/index.js")