doctype
html
	head
		meta(charset="utf-8")
		title test页
		link(href="../css/reset.css",rel="stylesheet")
		link(href="../css/index.css",rel="stylesheet")
	
	body
		div.main
			p 这是一个测试页面
			a.btn1(href="#") 百度 
			a.btn2(href="#") 百度 
		div.good

		script(src="../js/jquery-1.7.2.min.js")
		script(src="../js/index.js")