doctype html
html
	head
		meta(charset="utf-8")
		title 企业聚焦-行业新闻
		link(href="css/common.css",rel="stylesheet")
		link(href="css/detail.css",rel="stylesheet")
		link(href="favicon.ico",rel="shortcut icon")
	body
		include ../component/header
		
		div.inside.main
			div.menu
				a.curr(href="trade-news.html") 行业动态
				a(href="javascript:;") 企业动态
				a(href="javascript:;") 媒体报道
			div.content
				h4.location &gt;&gt; 新闻详情
				a.backlink(href="trade-news.html") + 返回上一级 + 
				div.newsdetail
					h4.title 金融科技催生金融业态变革
						p.source 来源：
							span 南方日报
					p 南方日报讯 （记者/陈若然）随着金融科技兴起，金融行业正发生着深刻的变革。技术驱动金融业务、管理全面创新，倒逼传统金融机构转型，还推动着金融监管机制和方式的转变。在6月24日上午举办的2017年广州金融交易博览会上的金融科技论坛中，来自人民银行、广东省金融办的领导和专家济济一堂，畅所欲言，纵论如果更好运用金融科技推动金融业创新发展，会场座无虚席，时时爆发出热烈的掌声。
					p 探索广东积极推动金融科技发展走在全国前列
					p 中国人民银行广州分行副行长、广东金融学会副会长李思敏在会上表示，2016年被称为金融科技元年，金融科技正由外及内地重塑金融逻辑。广东既是全国的金融大省，也是科技大省，探索金融科技创新，具有良好的基础挑战，作为全国深化改革开放的先行省，探索科学发展的实验区，广东客观上需要有条件率先推动金融科技发展走在全国前列。
					p 广州市金融工作局副局长聂林坤在致辞中表示，近年来，市金融局高度重视发展金融科技，在金融科技不断发力，一是将在今年主办中国金融科技创业大赛，挖掘和培育优质金融科技项目；二是研究制定促进金融科技发展的相关扶持政策，为广州金融科技产业营造良好的政策环境；三是推动广州金融科技产业园区的建设，为广州金融科技产业创新发展，提供全方位服务，吸引更多金融科技企业和人才来穗发展。
					p 转型传统金融机构转型机遇大于挑战
					p 谈到传统金融机构在运用金融科技过程中通常出现的痛点和难点，中国互联网金融协会战略研究部负责人肖翔认为，传统金融机构在转型过程中的痛点主要出现两方面：思维模式和传统绩效考核方式。
					p 肖翔认为，传统金融机构在推动某项业务、产品或新技术时，往往会同时涉及到多个业务板块，整个业务协调的流程比较复杂，推进过程的时间也比较长，而因此错过一些金融创新的时间窗口。此外，在传统业绩和绩效考核方面，传统金融机构习惯用产品、收益去做相关可行性验证，而新兴互联网企业则在业绩激励方面做得更好。
					“从思想到体制机制到激励机制，我们一系列的问题，都需要针对性的解决方案，这样才能真正把金融科技更好地应用于传统领域，真正解决传统金融的痛点，培育增长新的动力。”肖翔表示。
					p 监管加快推动金融科技监管创新
					p 人民银行参事室副巡视员、国务院参事室金融研究中心秘书长张韶华对金融科技以及金融科技协助的普惠金融发展大背景下面临的监管问题做出了精彩的演讲。

					p 张韶华表示，21世纪的金融监管，必将伴随科技金融的发展，要不断适应。她表示，金融要安全、普惠和健康，要提高透明度、要有标准、提升金融基础设施的效率，维护稳定，加强政府和一些科技公司的合作。
					p 张韶华还特别提到了“监管沙箱”制度。张韶华表示，透过“监管沙箱”这种方式，可以看到下一步对金融科技进行监管的发展可能。
					p 张韶华表示，尽管现在多方都面临着监管问题，但相信随着科技金融的发展，一定会解决安全问题。
				


		include ../component/footer

		script(src="js/jquery-1.7.2.min.js")
