doctype
html
	head
		meta(charset="utf-8")
		title test页
		link(href="css/common.css",rel="stylesheet")
		link(href="css/news.css",rel="stylesheet")
	
	body
		div.header
			div.inside
				h1.logo 云信创富
				ul.nav
					li
						a(href="#") 首页
					li
						a.hover(href="#") 企业聚焦
						p.subnav
							span.shape
								i.line
								i.line.l2
								i.line.l3
								i.line.l4
								i.line.l5
								i.line.l6
							img(src="img/common/subnav01.png")
							a.hover(href="#") 行业动态
							a(href="#") 企业动态
							a(href="#") 媒体报道
					li
						a(href="#") 小微普惠
					li
						a(href="#") 金融科技
					li
						a(href="#") 关于我们
		
		div.inside.content
			11

		div.footer
			p @2014-2017 米缸金融 沪ICP备15002888号 北京云信创富资本管理有限公司

		script(src="js/jquery-1.7.2.min.js")
		script(src="js/index.js")