doctype html
html
	head
		meta(charset="utf-8")
		title 企业聚焦-行业新闻
		link(href="css/common.css",rel="stylesheet")
		link(href="css/detail.css",rel="stylesheet")
	
	body
		include ../component/header
		
		div.inside.main
			div.menu
				a.curr(href="trade-news.html") 行业动态
				a(href="javascript:;") 企业动态
				a(href="javascript:;") 媒体报道
			div.content
				h4.location &gt;&gt; 新闻详情
				a.backlink(href="trade-news.html") + 返回上一级 + 
				div.newsdetail
					h4.title 中国社科院专家：风控对金融科技至关重要
						p.source 来源：
							span 新华网
					p 新华社北京６月２５日电 中国社科院金融研究所所长助理杨涛２５日在此间表示，中国金融科技发展迅猛，但仍面临不少挑战，防控风险对金融科技至关重要。
					p 杨涛当天在金融科技发展大会举行间隙接受新华社记者采访时说，近几年，金融科技热潮在全球涌现。从全球看，中国金融科技投资占比超过５０％。尽管如此，中国发展金融科技还面临诸多挑战，比如金融科技规则不完善、金融科技标准化问题以及产业合作与协同发展不足等。
					p 他说，值得注意的是，传统金融风险也会出现在互联网金融中。例如，金融科技涉及的一些领域本质就是金融交易，资产与负债期限不匹配同样可能出现流动性风险。此外，还可能出现一些新技术环境下的特殊风险。例如，基于互联网新架构的机构系统可能遭到技术性外部攻击而造成损失。还有，普通人群得到更好服务，但其金融知识、风险识别和承担能力相对欠缺，没有能力把握交易风险，消费者保护不足的风险显现。
					p 谈及中国央行成立金融科技委员会，他认为，金融科技给金融运行带来了全新挑战，在监管层面，既要有短期治理和应对危机的策略，也要有长期内在的稳定器建设。
					p 他认为，金融科技将给传统金融业态带来深刻变化，未来可能出现利用金融科技做“小而美”的金融服务中前台机构，可能会涌现出着眼于金融垂直生态或是覆盖金融全产业链的新金融巨头。
					p 金融科技发展大会为期一天，与会者就传统金融业转型、金融科技与金融生态以及金融信息保护等议题进行了深入探讨。
				


		include ../component/footer

		script(src="js/jquery-1.7.2.min.js")
