include ../component/header

doctype html
html
	+header('新闻详情-行业动态-企业聚焦-云信创富官网',['css/common.css','css/detail.css'],{a:[''],b:['','',''],c:['','','',''],d:['hover','hover','',''],e:['']})
		
	div.inside.main
		div.menu
			a.curr(href="trade-news.html") 行业动态
			a(href="javascript:;") 企业动态
			a(href="javascript:;") 媒体报道
		div.content
			h4.location &gt;&gt; 新闻详情
			a.backlink(href="trade-news.html") + 返回上一级 + 
			div.newsdetail
				h4.title 如何引导金融科技探索普惠金融？
					p.source 来源：
						span 网贷天眼
				p 每次中华文明的空前繁荣，几乎都能看到金融的影子。而这一次，全球将目光聚焦在正在中国快速发展的金融科技。
				p 地中海世界最早的货币是在公元前6世纪的某一时间出现在吕底亚的金银合金小块，而中国的第一枚青铜币则早于或晚于它一个世纪出现，现在尚无定论这两种货币出现的先后顺序。但目前肯定的是，早在商文明时期，中国就产生了相对独立的货币系统，并已形成“现金”的概念。
				p “天下熙熙，皆为利来；天下攘攘，皆为利往。”早在周朝时期，中国多个城市已形成商业中心，并发展多个货币区，如蚁鼻钱、刀币、圆形币等。直到秦统一，秦王垄断生产货币的权利，中国大地第在上实现了货币生产的国家化和标准化——圆形方孔铜币。这种现金的形态存续了2000多年，直到20世纪初的清末，中国才铸造第一枚无孔钱币。
				p 宋代是中华文明的黄金时期之一。得益于造纸术和印刷术的改进，纸张开始作为一种存储和廉价传播信息的媒介，中国产生的世界最早的纸币，比美国（1692年）、法国（1716年）等西方国家发行纸币要早六七百年。
				p 硬币存在了几千年，纸币存在了千年，如今这两种为人所熟知的货币形态正逐步被电子货币所取代。沉重的现金正变得越来越轻，甚至几乎没有重量，化身为一组数据。
				p “相比纸币而言，这是一种重要得多的发明。”2013年诺贝尔经济学奖得主罗伯特·席勒认为，由于电子交易的成本较低，将促进更多的交易，将为更多更专业的产品和服务取得新的发展。
				p 电子货币虽起源于美国，却在中国得到更快的发展。中国-中东欧基金董事长、中国工商银行原董事长姜建清在中欧国际商学院2017全球论坛香港站上表示，2016年中国移动支付总量超过38万亿元，是美国市场体量的五倍。
				p 中国人民银行副行长范一飞在《中国支付清算发展报告（2017）》发布会上表示，近年来，我国支付体系基础设施日益完善，支付服务场景日趋丰富，支付服务更加高效、便捷，以“云闪付”、条码支付等为代表的移动支付更是走在世界前列。2016年我国移动支付业务笔数首次超越互联网支付，标志着零售支付市场移动支付时代的到来。
				p 支付领域的领先并非金融科技发展的孤例。大数据、区块链、云计算和人工智能等技术的迅速发展，为金融行业带来了巨大的创新，为金融服务带来更多样化的数据来源，更快的数据存储速度和更强的数据分析能力。这一系列自动化技术的实施，有效地将金融服务标准化、降低了服务成本、提高服务效率，并触及了以往无法或难以覆盖的长尾人群，包括小微企业、低收入人群以及农村群体等。技术驱动带来的金融普惠，在各个领域、各个企业，都取得了一定的应用经验，也获得了社会的普遍关注。
				p 然而，正如中国互联网金融协会会长李东荣所言，互联网金融在为金融业发展注入活力的同时，也对金融管理带来了新的挑战，其快速发展过程中也暴露出了一些问题和风险隐患。党中央、国务院高度重视互联网金融发展和风险防范，党的十八届五中全会明确提出“规范发展互联网金融”的任务；去年4月开始，国务院部署开展了互联网金融风险专项整治工作，按照问题导向、分类整治、综合施策等原则，加快清理行业“害群之马”，有效规范经营行为，还互联网金融一个健康有序的发展环境。
				p 如今这一互联网金融风险专项整治工作仍在持续，行业风险已在一定程度上有所降低。第三方支付、P2P网贷行业整合、退出现象明显，运营机构数量有所下降，成交量与参与人数仍稳步增长。
				p 根据不完全统计，目前央行已注销10家非银支付牌照。另据＊＊＊＊不完全统计，从2014年起截至目前，已有48家第三方支付机构遭央行处罚，累计被处罚71次，金额近1亿元。
				p 截至2017年5月底， P2P网贷行业正常运营平台数量下降至2148家，贷款余额增至9966.46亿元，环比4月底增加了4.08%。P2P网贷行业贷款余额继续稳步上升，贷款余额持续上升体现了资金持续净流入P2P网贷行业的过程，表明网贷行业持续稳定的发展，预计下月将突破万亿元大关。
				p 互联网保险业务扩张较快，创新较为活跃，业务渗透率不断提高。互联网基金销售稳步增长，业务集中在互联网货币基金销售。互联网消费金融参与主体多元化，发展快速，以小额、短期的贷款业务为主。互联网股权融资发展相对滞后，股权众筹融资监管规则尚未发布，互联网非公开股权融资实际开展业务的平台较少。
				p 中国需要什么样的互联网金融机构——或者，按照当下比较时尚的说法——中国需要什么样的金融科技公司？坚守金融的本质是必然的，但金融本质之外，金融科技有望尝试更多创新探索。
				p 清华五道口金融学院院长吴晓灵在2017清华五道口全球金融论坛上表示，“互联网金融或者是金融科技公司，无论用什么样的工具都不会改变金融本质，改变的只是金融实施信息搜集、分析风险、定价时候的工具，而不改变由于支付和资产的时间到位，投资和把钱送出去以后，回报的到期，这一段时间当中的风险，和这一段时间风险的定价，这个最基本的问题是不会改变的。运用很好的、最先进的信息科学技术，来提升传统金融业的服务效率，来围绕着它做更多的细分市场服务，这个是我们未来的方向。”
				p 吴晓灵的说法或可一定程度上表达了监管层对于金融科技的思考。实际上，监管层一直在思考如何引导金融科技探索普惠金融。李东荣认为，金融科技有助于解决“普”、“惠”、服务质量以及商业可持续的问题。
				p 而上述问题，正是过去十年里，中国政府在发展普惠金融方面做出的探索。央行和银监会一直积极支持商业银行包括城乡中小银行为小微和涉农企业服务，政策性银行尤其是农业发展银行也在这方面做了各种尝试。另外，各地还建立了上万家小额信贷公司。近年来，为了缓解中小企业“融资难、融资贵”的问题，监管部门又推出了“三个不低于”和整治银行收费等政策措施。
				p 2016年11月，北京大学互联网金融研究中心课题组受中国人民银行国际司委托的研究成果表明，客观地评价，这两条举措对于改善中小企业的融资环境起到了一定的作用，但它们有一个根本性的缺陷，就是没有完全遵循“商业可持续的原则”。
				p 利用互联网技术帮助普惠金融交易，成为普惠金融发展遇到了一个历史性的机遇。
				p 如何建立商业可持续的普惠金融体系方面，上海黄金交易所理事长焦瑾璞潜心研究普惠金融多年，在2017清华五道口全球金融论坛提出了五点建议：第一，加强金融基础设施建设；第二，完善普惠金融组织体系；第三，探索普惠金融的可持续发展模式；第四，规范数字普惠金融发展，防范金融风险；第五，加强消费者金融教育，保护金融消费者权益。
				p 然而，互联网金融的出现打破了中国金融监管的固有模式，分业监管难以有效覆盖金融混业经营，而且相对于快速发展的金融科技，现行法律已明显滞后。焦瑾璞建议：一是明晰互联网金融业务的边界；二是对金融机构采取行为监管；三是加强金融监管协调，构建适应金融市场发展的新型法律与监管体系；四是发展监管科技，利用数字技术提升金融监管能力。
				p 从2016年底开始，更严格的监管正在发生，在新形势下有利于帮助这个行业更加健康的发展。监管的思路清晰，市场的步伐更快捷。京东金融首席执行官陈生强指出，要做普惠金融，必须找到低成本、可持续的模式。用科技降低三大变动成本：一是科技公司可以通过互联网的方式触达到传统金融难以触达的人群。通过将这种场景开放给传统金融，就可以降低金融机构的获客成本；二是科技公司可以在生活消费和产业交易场景中获得大量的数据，这些数据真实反应了客户需求和实体经济的产销情况，通过这些数据+风控技术可以去做风险管理与风险定价；三是在流程运营层面，科技公司可以基于更好用户洞察能力、产品洞察能力，实现从客户申请、授信、放款、贷后的全流程贯通，不仅可以降低成本，还能极大地改善客户体验。
				p 凡普金科创始合伙人、首席执行官董褀认为，专注在金融科技上的公司需要持续创新，才能提供可持续性的低门槛、补充性的金融服务。另一方面，需要监管层面上的更多创新，促使行业里面各主体（无论是第三方的机构，还是龙头企业）相互之间的合作，从而使得技术、信息和数据能够得到更多的共享，降低整个行业的运营成本。
				p “由于中国监管层非常智慧地营造了一个宽容、鼓励创新的环境，总体来说中国的金融科技已经领跑全球。”蚂蚁金服首席战略官陈龙认为，传统金融和金融科技应当互相激励、补充、融合生长。
				p 然而，令人遗憾的是，当前的数字金融普惠仍不够“普惠”。北京大学互联网金融研究中心课题组在去年11月发布的报告认为，除了互联网支付，一些业务的可得性很低、融资成本普遍过高，数字技术增加覆盖和降低成本的潜在优势尚未充分发挥出来。央行征信系统中有8.8 亿人的记录，其中5亿多人从未从传统金融机构获得贷款。
				p 目前个体网络借贷平台十分活跃，但借款人只有322.11万人，投资人仅414.95万人，对于满足老百姓的投融资缺口，杯水车薪。这个问题在众筹和财富管理领域更加突出。另外，许多网络借贷的贷款年化利率高于20%，远远超过“可负担”的水平。虽然这部分借贷也满足了部分临时性的资金需求，但正常的个人消费或企业运行显然难以承受这么高的资金成本。数字金融不够普惠，一方面数字的应用还有待进一步成熟，另一方面也需要增加良性竞争。
				p 作为国家行业自律组织，中国互联网金融协会正高度重视数字普惠金融的应用实践和风险治理。“中国需要自律、开放、众人拾柴火焰高式的互联网金融。”中国互联网金融协会申诉（反不正当竞争）委员会委员，中国银行法学研究会理事肖飒向经济观察网记者表示，所谓“自律”是指从业机构自我约束，合规经营，合法创新，在法律框架内满足市场旺盛的融资需求；所谓“开放”是指互联网金融的内在发展需要开放思维，不是仅讲民间借贷平移到线上而是真正发掘IT和通讯技术对金融的促进作用，互联网金融的外在发展需要监管机构解放思想，从实际出发，平等对待，传统金融机构和新兴互联网金融企业。
			


	include ../component/footer


