doctype html
html
	head
		meta(charset="utf-8")
		title 企业聚焦-行业新闻
		link(href="css/common.css",rel="stylesheet")
		link(href="css/detail.css",rel="stylesheet")
		link(href="favicon.ico",rel="shortcut icon")
	body
		include ../component/header
		
		div.inside.main
			div.menu
				a.curr(href="trade-news.html") 行业动态
				a(href="javascript:;") 企业动态
				a(href="javascript:;") 媒体报道
			div.content
				h4.location &gt;&gt; 新闻详情
				a.backlink(href="trade-news.html") + 返回上一级 + 
				div.newsdetail
					h4.title 2020年之前，普惠金融将有哪些利好？
						p.source 来源：
							span 网贷天眼
					p 随着各大银行开启“普惠金融业务部”，人们的视线又从非法集资的硝烟中稍稍移开了，我国对于普惠金融发展的规划没有变，自2016年至2020年，重视发展普惠金融的方向没有变。
					p 普惠金融，机会平等
					p 所谓“普惠金融”是指立足机会平等要求和商业可持续原则，以可负担的成本为有金融服务需求的社会各阶层和群体提供适当、有效的金融服务。
					p 其中，我国普惠金融重点服务对象为：小微企业、农民、城镇低收入人群、贫困人群和残疾人、老年人等特殊群体。
					p 请注意，针对如上特殊服务的群体才是普惠金融的内在要求，借用普惠之名，为落后产能“输血”，或者高利转贷都不符合普惠金融的大方向。
					p 金融服务可得性
					p 三年后，我国将全面建成小康社会，与之相匹配社会需要更为便捷、高效的金融服务，使得社会各阶层群众对金融服务拥有“获得感”。
					p 这就需要金融机构实实在在为三农和小微企业做点事，例如在乡镇一级就要实现银行物理网点和保险服务全覆盖。
					p 同时，改善对城市低收入人群、困难人群、农村贫困人口、创业大中专学生、残疾劳动者等初始创业者的金融支持。
					p 考虑到绝大多数金融机构是营利法人即商业机构，国家在政策层面会提高小微企业、农户的信用档案以及允许类金融机构接入个人征信体统，作为“抓手”改善金融营商环境，吸引更多机构参与到普惠金融大市场中来。
					p 银行和保险，还是重头戏
					p 国家将鼓励开发性政策性银行以批发资金转贷的方式与其他银行业金融机构合作，从而，在整体上降低金融服务需求者的融资成本。
					p 同时，引导银行业金融机构对购买信用保险和贷款保证保险的小微企业给予贷款优惠政策。
					p 从我们在实际金融操作的层面看，对于有信用保证保险作增信的企业，银行通常会“高看一眼”给予给多便利条件。
					p 保险资金的运用，一直是个棘手难题。且不说险资运用需要“独立监督人”，单说投向已经各种“围墙”，但国家鼓励保险资金投资给符合条件的小微企业专项债券，根据正在公开征求意见的相应文件，小微企业发公司债很有可能会限制在新三板创新层。
					p 也就是说：保险资金投资到新三板创新层企业发行的公司债上是方向上被鼓励的。一大波法律袭来
					p 法律是市场经济的基石。没有法律对私有产权的保护，对市场竞争关系的确认，就没有繁荣的金融市场。
					p 从今年10月1日即将生效的《民法总则》看，“小民法典”对于农村集体组织赋予了“独立法人”地位。
					p 这标志着农村经济将在未来被大幅度市场化，当然金融必然参与其中。
					p 监管机构对于小微企业和“三农”不良贷款容忍度将有所改变，逐步完善“尽职免责”相关制度。
					p 这表明我国对于农村、农业等进行大家长式的保护宣告终结，鼓励三农走向独立和成熟是未来的方向。
					p 另外，对于股权众筹，还是要推动《证券法》的修改，为科技类创新创业企业的股权融资留下空间；
					p 对于非存款类放贷组织条例，已经基本成熟，今年内有望出台，届时将影响广大小贷公司的切身利益，也会在一定程度上继续推高网络小贷的价码。
					p 但是，从事“扶贫小额贷款服务”的组织将被另眼相看，给予特殊的法律地位以期带来良好的社会效果。
					p 综上，我国推动普惠金融发展的方向没有变，正在一步一个脚印往前迈进。
					p 作为金融企业，无论是传统银行、保险，还是金融科技助贷机构有有必要了解我国金融发展的重要方向，伴随普惠金融的发展找到自己的天地。
				


		include ../component/footer

		script(src="js/jquery-1.7.2.min.js")
