doctype html
html
	head
		meta(charset="utf-8")
		title 企业聚焦-行业新闻
		link(href="css/common.css",rel="stylesheet")
		link(href="css/detail.css",rel="stylesheet")
		link(href="favicon.ico",rel="shortcut icon")
	body
		include ../component/header
		
		div.inside.main
			div.menu
				a.curr(href="trade-news.html") 行业动态
				a(href="javascript:;") 企业动态
				a(href="javascript:;") 媒体报道
			div.content
				h4.location &gt;&gt; 新闻详情
				a.backlink(href="trade-news.html") + 返回上一级 + 
				div.newsdetail
					h4.title 央行解读金融科技委员会职能 为企业指明方向
						p.source 来源：
							span 东方网
					p “没有良好的创新机制护航，金融科技(Fintech)发展就可能偏离正确的方向”，中国人民银行科技司司长李伟在日前介绍金融科技委员会时说到，委员会定位和职能侧重于加强金融科技工作的研究、规划与统筹协调。有业内人士指出，该委员会的成立，将为互联网金融行业指明未来方向。
					p 时下，金融科技正在引领互金行业的下半场，以高收益吸引用户的传统互联网模式优势退减，以科技为主的创新风暴席卷而至。业界权威观点分析指出，金融科技承载着互联网金融的未来，由中国人民银行设立的金融科技委员会担负着做好金融科技发展战略规划和政策指引、密切关注金融科技发展动向和潜在风险的重大使命，为互金行业明确了目标，引导了新技术在互金领域的正确使用，将提升跨行业、跨市场交叉性金融风险的甄别、防范和化解能力，带领行业整体走向创新、持续和长远之路。
					p “金融科技委员会成立后，互金平台基于在金融科技的创新，不仅成为了政府机构的重点支持对象，也明确了企业决策、战略的主干道，保证了实施的有效性。”凤凰卫视集团旗下智能金融服务平台凤凰金融总裁张震表示，这意味着国家已认可互金行业在过去几年中践行金融科技创新的成果，并将进行更多的支持。
					p 作为互联网金融行业内的代表性平台，据了解，凤凰金融一直注重于科技领域的创新，成立至今，将大量时间和精力放在加大量化建模、机器学习和人工智能等技术领域，通过融入知识图谱、深度学习、认知技术等人工智能机器人分析，推进自身金融科技布局，并曾获2016年度中国金融科技创新榜“优秀品牌奖”、第十届金蝉奖“2016年度科技金融公司”、“2016年度中国金融科技先锋企业”等多种奖项。
					p 值得一提的是，目前，凤凰金融平台已上线运行智能资讯“发现”频道(PC)一期，通过大数据和传统金融量化建模呈现高质量的聚合信息，助力用户明晰金融市场现象背后的投资价值。与此同时，自去年起，凤凰金融也正在研发智能投顾工具，旨在为用户提供一站式财富健康管理解决方案，从万种金融产品中为每位用户精准匹配投资风格，避免投资误区。
					p 张震表示，加码布局与创新金融科技的同时，用户信赖才是夯实基础。截至目前，平台历史平台兑付率100%，累计成交额已超436亿元。据介绍，未来，凤凰金融还将依托领先的IT架构、大数据处理、机器学习、自然语言处理等科技技术手段，在金融科技委员会的监管与指引下，持续发力金融科技。


				


		include ../component/footer

		script(src="js/jquery-1.7.2.min.js")
