doctype html
html
	head
		meta(charset="utf-8")
		title 企业聚焦-新闻页
		link(href="css/common.css",rel="stylesheet")
		link(href="css/news.css",rel="stylesheet")
	
	body
		div.header
			div.inside
				h1.logo 云信创富
				ul.nav
					li
						a(href="index.html") 首页
					li
						a.hover(href="javascript:;") 企业聚焦
						p.subnav
							span.shape
								i.line
								i.line.l2
								i.line.l3
								i.line.l4
								i.line.l5
								i.line.l6
							img(src="img/common/subnav01.png")
							a.hover(href="trade-news.html") 行业动态
							a(href="company-news.html") 企业动态
							a(href="media-report.html") 媒体报道
					li
						a(href="#") 小微普惠
					li
						a(href="#") 金融科技
					li
						a(href="#") 关于我们
		
		div.inside.main
			div.menu
				a.curr(href="trade-news.html") 行业动态
				a(href="company-news.html") 企业动态
				a(href="media-report.html") 媒体报道
			div.content
				ul.newlist
					li.item
						img(src="img/news/new01.png")
						h5.title 行业动态行业动态行业动态行业动态行业动态行业
						span.date 2017-6-15
						p.newinfo 2017年5月7日，由百马荟主办、知名互金平台米缸金融独家冠名的“米缸金融杯”跑动金融圈第二季（北京站）在国家奥林匹克体育中心隆重开赛。本次比赛获得众多金融机构以及财经媒体圈人士的支持，包括中信银行、华夏银行、农业银行、银河证券、华夏基金、上海证券报等均报名参加。米缸金融副总裁闻...
						a.more(href="#") 查看全文 &gt;&gt;
					li.item
						img(src="img/news/new02.png")
						h5.title 行业动态行业动态行业动态行业动态行业动态行业
						span.date 2017-6-15
						p.newinfo 2017年5月7日，由百马荟主办、知名互金平台米缸金融独家冠名的“米缸金融杯”跑动金融圈第二季（北京站）在国家奥林匹克体育中心隆重开赛。本次比赛获得众多金融机构以及财经媒体圈人士的支持，包括中信银行、华夏银行、农业银行、银河证券、华夏基金、上海证券报等均报名参加。米缸金融副总裁闻...
						a.more(href="#") 查看全文 &gt;&gt;
					li.item
						img(src="img/news/new03.png")
						h5.title 行业动态行业动态行业动态行业动态行业动态行业
						span.date 2017-6-15
						p.newinfo 2017年5月7日，由百马荟主办、知名互金平台米缸金融独家冠名的“米缸金融杯”跑动金融圈第二季（北京站）在国家奥林匹克体育中心隆重开赛。本次比赛获得众多金融机构以及财经媒体圈人士的支持，包括中信银行、华夏银行、农业银行、银河证券、华夏基金、上海证券报等均报名参加。米缸金融副总裁闻...
						a.more(href="#") 查看全文 &gt;&gt;
					li.item
						img(src="img/news/new04.png")
						h5.title 行业动态行业动态行业动态行业动态行业动态行业
						span.date 2017-6-15
						p.newinfo 2017年5月7日，由百马荟主办、知名互金平台米缸金融独家冠名的“米缸金融杯”跑动金融圈第二季（北京站）在国家奥林匹克体育中心隆重开赛。本次比赛获得众多金融机构以及财经媒体圈人士的支持，包括中信银行、华夏银行、农业银行、银河证券、华夏基金、上海证券报等均报名参加。米缸金融副总裁闻...
						a.more(href="#") 查看全文 &gt;&gt;
				div.pagebox
					a.p_num.curr(href="#") 1
					a.p_num(href="#") 2
					a.p_num(href="#") 3
					a.p_num(href="#") 4
					a.p_num(href="#") 5
					span ··· 
					a.p_num(href="#") 10
					a(href="#") 下一页
					input(type="text")
					a(href="#") 转到


		div.footer
			p @2014-2017 米缸金融 沪ICP备15002888号 北京云信创富资本管理有限公司

		script(src="js/jquery-1.7.2.min.js")
