include ../component/header

doctype html
html
	+header('优秀案例-普惠金融-云信创富官网',['css/common.css','css/detail.css'])
		
	div.inside.main
		div.menu
			a(href="xwph-intro.html") 小微普惠
			a.curr(href="xwph-exam.html") 优秀案例
		div.content
			h4.location &gt;&gt;优秀案例
			ul.newlist.list
				li.item
					img(src="img/xwph/exam1.png")
					h5.title 助力小微企业
					p 成功案例：<br/>
						|方先生一家来自安徽省一个小县城，来上海15年，子承父业，从事房屋装修行业。经过多年打拼，方先生在上海虹口区有两套房子，一套140平的房子用于办公和工人住宿，另一套45平的房子用来自主。方先生准备来年将业务扩大一倍，用于招募更多的工人和聘请专业的设计人员。<br/>
						|经云信创富风控团队审核，方先生公司目前经营状况良好，并且无不良信用记录，符合云信创富抵押借款要求，为方先生提供了一年期低息抵押借款。
				li.item
					img(src="img/xwph/exam2.png")
					h5.title 鼓励大众创业
					p 成功案例：<br/>
						|胡先生是上海本地人，在某大型报社工作多年，积累了丰富的工作经验以及大量客户资源。2016年，胡先生与朋友一起创业，开了一家广告公司。由于公司业务发展的需要，胡先生需要一笔资金用于企业周转，想要拿闵行区一套130平的房子做抵押。<br/>
						|经云信创富风控团队评估，胡先生公司经营良好，并且胡先生个人有稳定的收入来源，所抵押房产非唯一住宅，符合云信创富抵押借款要求，为方先生提供了三个月的低息抵押借款。
				li.item
					img(src="img/xwph/exam3.png")
					h5.title 推动合理消费
					p 成功案例：<br/>
						|富先生是上海本地人，在一家外企任职，目前在某核心部门担任要职。富先生的儿子今年15岁，在上海某中学就读。受外企文化影响，加上富先生的孩子学习成绩比较优异，外语非常好，富先生想把孩子送去美国读高中以及大学。富先生初略算了下，美国高中每年学费、杂费以及生活费大概需要人民币20万，4年一共需要80多万。<br/>
						|富先生的借款需求属于合理消费，云信创富的风控团队经过审核，富先生的房产抵押借款需求符合相应风控标准，且属于比较优质的客户，因此给予富先生一年期的低息抵押借款，并且鼓励富先生到期后续借。



	include ../component/footer


