include ../component/header

doctype html
html
	+header('小微普惠-普惠金融-云信创富官网',['css/common.css','css/detail.css'],{a:[''],b:['hover','hover',''],c:['','','',''],d:['','','',''],e:['']})
		
	div.inside.main
		div.menu
			a.curr(href="xwph-intro.html") 小微普惠
			a(href="xwph-exam.html") 优秀案例
		div.content
			h4.location &gt;&gt;小微普惠
			p 云信创富，新型互联网资产管理型公司，秉承“创新发展，普惠金融”的精神，通过互联网技术应用，以创新的金融产品，通过高效率、低成本的运营模式，专注于为消费领域的细分市场提供金融解决方案，从而扩大普惠金融覆盖率，加强金融产品在传统消费领域的渗透率，推动资产管理行业变革。
			p.imgbox
				img(src="img/xwph/chart1.png")
			p.center 云信创富累计资产管理规模已超过100亿人民币，2018年预计资产管理规模可达300亿。
			p.imgbox
				img(src="img/xwph/chart2.png")
			p.center 云信创富业务范围覆盖城市已从北京、上海、广州、深圳一线城市拓展至全国22个主要城市。
			p.imgbox
				img(src="img/xwph/chart3.png")
			p(style="padding-left:100px;") 资产合作城市分布：<br/>
				|华北：北京、天津、郑州、济南；<br/>
				|华东：上海、杭州、南京、苏州（含昆山）、无锡、合肥；<br/>
				|西南：成都、重庆、武汉；<br/>
				|华南：广州、深圳、厦门、福州、东莞、佛山、惠州、珠海


	include ../component/footer


