@charset "utf-8";

//字体规范
$fs-nav:16px; //网站主导航
$fs-default:14px; //默认大小
$fs-title:18px; //页面标题等
$fs-big:24px; //特殊大字体
$fs-small:12px; //备注等说明信息

//颜色
$c-drakblack:#333;
$c-black:#666;
$c-lightblack:#999;

$c-orange:#f90;
$c-red:#f00;
$c-blue:#09f;
$c-white:#fff;


$bc-lightgray:#eee;//边框颜色
$bc-gray:#ddd;//边框颜色

$bgc-lightgray:#f2f2f2; //企业聚焦背景色、分页按钮背景色


//按钮
.btn_block{ display: block; padding:5px 20px; font-size: $fs-title; background: $c-orange;}
.btn_link{ color: $c-blue; text-decoration: underline;}