div.header
	div.inside
		h1
			a.logo(href="index.html") 云信创富
		ul.nav
			li
				a(href="index.html") 首页
			li
				a(href="javascript:;") 普惠金融
				p.subnav
					span.shape
						i.line
						i.line.l2
						i.line.l3
						i.line.l4
						i.line.l5
						i.line.l6
					img(src="img/common/subnav02.png")
					a(href="xwph-intro.html") 小微普惠
					a(href="xwph-exam.html") 优秀案例
			li
				a(href="javascript:;") 金融科技
				p.subnav
					span.shape
						i.line
						i.line.l2
						i.line.l3
						i.line.l4
						i.line.l5
						i.line.l6
					img(src="img/common/subnav03.png")
					a(href="fintech.html") 金融科技
					a(href="output.html") 整合输出
					a(href="application.html") 场景应用

			li
				a.hover(href="javascript:;") 企业聚焦
				p.subnav
					span.shape
						i.line
						i.line.l2
						i.line.l3
						i.line.l4
						i.line.l5
						i.line.l6
					img(src="img/common/subnav01.png")
					a.hover(href="trade-news.html") 行业动态
					a(href="trade-news.html") 企业动态
					a(href="trade-news.html") 媒体报道
			li
				a(href="about.html") 关于我们