@charset "utf-8";
/*
CSS Reset
Author : Gavin
Date : 2017-5-25
Veision : 1.0.0
*/

/* 清除内外边距 */
body, div, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, code, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, textarea, /* form elements 表单元素 */
table, tbody, tfoot, thead, th, td, /* table elements 表格元素 */ 
article, aside, dialog, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video/* html5 Elements */ {
	margin:0;
	padding:0;
	outline:0;
	background:transparent;
}
/* html5 Elements display block html5元素块级呈递*/ 
article, aside, dialog, figure, footer, header, hgroup, nav, section {
	display:block;
}

/* 设置默认字体 */
body,
button, input, select, textarea /* for ie */ {
    font:14px/1.5 arial, "Microsoft Yahei", sans-serif;
}
h1, h2, h3, h4, h5, h6 { font-size:100%; }
address, cite, dfn, em, var { font-style:normal; } /* 将斜体扶正 */
code, kbd, pre, samp { font-family:courier new, courier, monospace; } /* 统一等宽字体 */
small { font-size:12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */



/* 重置列表元素 */
ul, ol, li { list-style:none; }

/* 重置文本格式元素 */
a { text-decoration:none;outline:thin none;  }


/* 重置表单元素 */
button, input, select, textarea { font-size:100%; } /* 使得表单元素在 ie 下能继承字体大小 */
/* 注：optgroup 无法扶正 */

/* 重置表格元素 */
table { border-collapse:collapse; border-spacing:0; }

/* 清除浮动 */
.clear{ clear:both; }
.boxf_clear:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}


/**************END CSS Reset *****************START common_ui********************************/

@import 'baseui';

/*************************** Head & Foot ************************************/
.inside{ width:960px; margin: 0 auto;}

.header{ height:40px; padding:18px 0; background: $c-white;
	.logo{ width: 133px; height: 40px; background: url('../img/common/logo.png'); float:left; text-indent: -999em;}
	.nav{ height: 40px; line-height: 40px; float: right;}
	.nav li{ float: left; margin-left: 50px; position: relative;}
	.nav a{ display: inline-block; width:66px; text-align: center; font-size: $fs-nav; color:$c-black; }
	.nav a.hover,.nav a:hover{ color:$c-orange;}
	//子菜单
	.subnav{ position: absolute; display: inline-block; top:40px; left: -20px; background: $c-white; height:85px; border: solid 1px $bc-lightgray; width:240px; padding:15px 20px; display: none; }
	.nav a:hover+.subnav{ display: block;}
	.subnav img{ display: block; float: right; padding-left: 20px; border-left: solid 1px $bc-lightgray;  }
	.subnav a{ display: block; float: left; line-height: 23px; font-size: $fs-default; margin-bottom: 5px; }
	.subnav a.hover,.subnav a:hover{ background: $c-orange; color: $c-white; border-radius: 5px; }
	//子菜单的小三角
	.shape{ position: absolute; top:-6px; left: 45px; display: block; }
	.shape .line{ display: block; height: 1px; background: $c-white; border-left: solid 1px $bc-lightgray; border-right: solid 1px $bc-lightgray; width:0; margin:0 5px;}
	.shape .l2{ margin:0 4px; width: 2px;  }
	.shape .l3{ margin:0 3px; width: 4px;  }
	.shape .l4{ margin:0 2px; width: 6px;  }
	.shape .l5{ margin:0 1px; width: 8px;  }
	.shape .l6{ margin:0 0; width: 10px;  }
}

.footer{ background: $c-drakblack; color: $c-lightblack; padding:30px 0; text-align: center;}
